{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'manager_home' %}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->
                <!-- Reports -->
                    <div class="card">
                            <img src="{% static 'assets\img\dashboard.png' %}">

                        </div>

                    </div>
                </div>
                
    </div>


</main>
<!-- End #main -->
{% endblock %}